@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;600;700&family=Raleway:wght@400;600&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.active{
    border-bottom: 5px solid #007af3;

}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 90px;
  
    
}
header a {
    color: #007af3;
    
}
a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
.nav-links li{
    display:inline-block;
    margin:15px 20px;
    

   
}
.nav-links li a{
    color: #007af3;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    
    

}
.nav-links li:hover{
    padding-bottom: 5px;
    border-bottom: 5px solid #007af3;
    font-size: 20px ;
    
    
}
.nav-links li a:hover{
    color:#0269A4;

}
.logo{
    margin-left: 8%;
    font-size: 24px;
    letter-spacing: 2px;
  
} 
header li:nth-of-type(4) {
    margin-right: 40px;
  }

header span{
    position: relative;
    z-index: 1;
}
header span::before{
    content: "";
    width: 50px;
    height: 6px;
    background: #007AF3;
    position:absolute;
    bottom: 0;
    z-index: -1;
    margin-left: -15px; 

}
.about-title, .vision, .approach, .process, .support{
    text-align: center;
    margin:70px 30px;
    
}
.vision p, .approach p, .process p, .support p{
    text-align: start;
    width: 60%;
    margin-left: 20%;
    font-size: 16px;
}
.about-title p{
    margin-top: -40px;
    font-size: 25px;
}
.about-title h3, .vision h3, .approach h3, .process h3, .support h3{
    font-size: 43px;
    font-weight: bold;
}
.vision, .approach, .process, .support{
    display:flex;
    width: 100%;
    
}
.vision-left, .approach-right, .process-left, .support-right{
    margin: 15px;
    padding: 15px;
    width: 50%;
}
.vision-right img, .approach-left img, .process-right img, .support-left img{
    height:570px;
    width: 570px;
    object-fit: contain;

}